async-generator==1.10
bayesian-optimization==1.4.2
beautifulsoup4==4.9.3
catboost==1.1.1
ConfigArgParse==1.5.3
DALL-E==0.1
graphviz==0.20.1
imagecodecs==2021.3.31
imageio==2.9.0
imagesize==1.2.0
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==6.1.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==3.0.7
keras==2.12.0
lazy-object-proxy==1.6.0
libarchive-c==2.9
libclang==16.0.0
lightgbm==3.3.5
llvmlite==0.36.0
matplotlib==3.6.2
numpy==1.22.4
numpydoc==1.1.0
pandas==1.5.3
scikit-image==0.18.1
scikit-learn==1.2.2
scikit-optimize==0.9.0
scipy==1.6.2
seaborn==0.11.1
sklearn==0.0
skorch==0.12.1
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
toolz==0.11.1
torch==1.13.1
torchvision==0.14.1
tqdm==4.59.0
wheel==0.36.2
xgboost==1.7.4